/* ProductList.module.css */

/* Container for each product item */
.productItemListContainer {
  display: flex;

  gap: 20px;
}
.productItemList {
  background: rgba(0, 102, 255, 0.17);
  padding: 20px;
  margin-bottom: 20px;
}
/* Product image container */
.productImageContainer {
  flex: 1;

  position: relative;
}

/* Product image */
.productImageContainer img {
  /* Set a fixed height for consistent image sizes */
  height: 300px; /* Adjust as needed */
  object-fit: cover; /* Maintain aspect ratio */
}

/* Add to cart icon */
.addToCartContainer {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartContainer img {
  width: 26px; /* Adjust size of the icon */
  height: 26px; /* Adjust size of the icon */
}

/* Product details */
.productDetails {
  flex: 2;
}

/* Product name */
.productDetails .name {
  font-size: 42.99px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  text-align: left;

  margin-bottom: 10px;
}

/* Product price */
.productDetails .price {
  font-size: 25.48px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  margin-bottom: 10px;
}

/* Product color and type */
.productDetails div {
  display: flex;
  font-size: 26.41px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: left;

  gap: 5px;
}

.productDetails .summary {
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  text-align: left;
}

/* Details button */
.productDetails .detailsBtn {
  font-size: 14px;
  background-color: rgba(46, 0, 82, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 30px;
  cursor: pointer;
  display: inline-block;
  border-radius: 26.12px;
}
