/* ProductGrid.module.css */

/* Grid container for products */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

/* Product item container */
.productItemGrid {
  border: 1px solid #ddd;
  padding: 20px;
  position: relative;
  background-color: rgba(0, 102, 255, 0.17);
}

/* Product image container */
.productImageContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.productImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add to cart icon */
.addToCartContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addToCartContainer img {
  width: 26px; /* Adjust size of the icon */
  height: 26px; /* Adjust size of the icon */
}

/* Product details */
.productDetails {
  text-align: left;
}

.productDetails h3 {
  color: rgba(0, 0, 0, 1);
  font-size: 26.41px;
  font-weight: 600;

  text-align: left;
}

.productDetails p {
  font-size: 26.41px;
  font-weight: 500;

  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.productDetails div {
  font-size: 26.41px;
  font-weight: 500;

  text-align: left;
  color: rgba(0, 0, 0, 1);

  display: flex;
  gap: 5px;
}

.productDetails div span {
}
.productImage {
  /* background-color: white; */
}
@media (max-width: 425px) {
  .gridContainer {
    grid-template-columns: repeat(2, minmax(120px, 1fr));
    gap: 10px;
  }
  .productItemGridContainer {
    border: 1.13px solid rgba(206, 206, 206, 1);
    border-radius: 5.56px;
  }
  .productDetails {
    text-align: left;
  }

  .productDetails h3 {
    color: rgba(0, 0, 0, 1);
    font-size: 12.3px;
    font-weight: 600;
    line-height: 14.41px;
    text-align: left;
    margin-left: 5px;
  }

  .productDetails p {
    font-size: 12.3px;
    font-weight: 500;
    line-height: 14.41px;
    text-align: left;
    margin-left: 5px;
    color: rgba(0, 0, 0, 1);
  }

  .productDetails div {
    font-size: 12.3px;
    font-weight: 500;
    line-height: 14.41px;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    display: flex;
    gap: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .addToCartContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .addToCartContainer img {
    width: 20px; /* Adjust size of the icon */
    height: 20px; /* Adjust size of the icon */
  }
}
