.container {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding: 20px;
}
.logoContainer {
  display: flex;
  justify-content: center;
  font-size: 44.13px;
  font-weight: 600;
  color: rgba(46, 0, 82, 1);
  gap: 4px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.formContainer {
  padding: 40px;
  border: 3px solid rgba(217, 217, 217, 1);
  border-radius: 23px;
}
.heading {
  font-size: 49.13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
.formGroup {
  display: flex;
  flex-direction: column;
}
.input {
  border: 2px solid rgba(182, 182, 182, 1);
  border-radius: 8px;
  padding: 0 14px;
}
.error {
  color: rgba(228, 28, 28, 1);
}

.inputError {
  border-color: rgba(228, 28, 28, 1);
}
.label {
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  margin-top: 10px;
}
.button {
  background-color: rgba(46, 0, 82, 1);
  border: none;
  outline: none;
  text-decoration: none;
  padding: 16px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 27px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}
.agreementText {
  font-size: 17.75px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.registerButton {
  padding: 16px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 1);
  font-size: 23px;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgba(189, 189, 189, 1);
}
.registerLink {
  text-decoration: none;
}
.newUserText {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
}

.line {
  flex: 1;
  height: 1px;
  background-color: rgba(189, 189, 189, 1); /* color of the line */
}

.registerText {
  margin: 0 30px; /* adjust spacing between line and text */
}
.error {
  color: rgba(228, 28, 28, 1);
}

.inputError {
  border-color: rgba(228, 28, 28, 1);
}
.errorBorder {
  border-color: rgba(228, 28, 28, 1);
}
.dot {
  display: none;
}
.alreadyCustomer {
  display: none;
}
.welcomeText {
  display: none;
}
.logoContainerMobile {
  display: none;
}
@media (max-width: 425px) {
  .logoContainerMobile {
    display: flex;
    background-color: rgba(46, 0, 82, 1);
    gap: 4px;
    padding: 10px;
  }

  .logoContainerMobile div {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18.67px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
  }
  .container {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
  .dot {
    display: inline;
  }
  .alreadyCustomer {
    display: inline;

    font-size: 13.36px;
    font-weight: 300;
  }
  .logoContainer {
    font-size: 24px;
    background-color: rgba(46, 0, 82, 1);
    display: none;
  }

  .formContainer {
    padding: 10px;
    border-radius: 10px;
  }

  .heading {
    font-size: 15.7px;
    font-weight: 600;
  }

  .label {
    font-size: 13.35px;
    font-weight: 600;
  }

  .agreementText {
    font-size: 12px;
    margin-top: 10px;
    line-height: 16px;
  }

  .newUserText {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .line {
    height: 1px;
  }

  .registerText {
    margin: 20px 5px;
  }
  .welcomeText {
    display: block;
    font-size: 31px;
    font-weight: 400;
    color: rgba(46, 0, 82, 1);
    margin-bottom: 30px;
  }
  .button {
    font-size: 16.39px;
    font-weight: 500;
    padding: 12px;
  }
  .registerButton {
    padding: 16px;
    margin-top: 20px;
    color: rgba(0, 0, 0, 1);
    font-size: 15px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    border: 2px solid rgba(189, 189, 189, 1);
  }
  .input {
    font-size: 20px;
  }
  .footer {
    display: none;
  }
}
