.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb img {
  margin-right: 8px;
}

.breadcrumb div {
  margin-right: 8px;
}

.productContainer {
  display: flex;
  gap: 40px;
}

.imageCarousel {
  display: flex;
  gap: 10px;
}

.imageCarousel img {
  max-width: 100px;
  cursor: pointer;
}

.productDetails {
  flex: 1;
}

.productDetails h2 {
  font-size: 24px;
}

.name {
  font-size: 40px;
  font-weight: 600;
  line-height: 60.93px;
  color: rgba(0, 0, 0, 1);
}
.price,
.availability,
.brand {
  font-size: 33.97px;
  font-weight: 500;

  color: rgba(0, 0, 0, 1);
}
.rating {
  display: flex;
  align-items: center;
}
.brand span {
}
.rating span {
  margin-left: 8px;
  font-size: 29px;
  font-weight: 400;
  line-height: 33.98px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.productDetails span {
  font-size: 33.97px;
  font-weight: 400;
  line-height: 39.81px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.productDetails ul {
  padding: 0 0 0 20px;
  font-size: 22px;
  font-weight: 400;

  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.aboutItem {
  font-size: 25px;
  font-weight: 400;

  text-align: left;
  color: rgba(0, 0, 0, 1);
}
.productDetails li {
  margin-bottom: 6px;
}

.productDetails div {
  margin-bottom: 10px;
}

.productDetails div:last-child {
  display: flex;
  gap: 10px;
}

.largeImage img {
  max-width: 100%;
  height: auto;
}
.musicartInfo {
  display: flex;
  gap: 10px;
}
.musicartInfo div {
  font-size: 44.13px;
  font-weight: 600;
  line-height: 51.71px;
  color: rgba(46, 0, 82, 1);
}
.musicartInfo span {
  font-size: 26.41px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
}
.productDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}
.backToProductBtn {
  padding: 10px 35px;
  border-radius: 14px;
  color: rgba(255, 255, 255, 1);
  font-size: 28.13px;
  font-weight: 500;
  line-height: 32.96px;
  background: rgba(46, 0, 82, 1);
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.addToCartBtn {
  text-decoration: none;
  outline: none;
  border: none;
  background: rgba(255, 214, 0, 1);
  color: rgba(0, 0, 0, 1);
  padding: 10px 60px;
  border-radius: 40px;
  cursor: pointer;
}
.buyNowBtn {
  text-decoration: none;
  outline: none;
  border: none;
  background: rgba(255, 184, 0, 1);
  color: rgba(0, 0, 0, 1);
  padding: 10px 60px;
  border-radius: 40px;
  cursor: pointer;
}
.btn {
  display: flex;
  flex-direction: column;
}
.summary {
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}
